body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

p {
  color: aliceblue;
}

.image-ana {
  border-radius: 80%;
}

.description p {
  color: aliceblue;
}

.container {
  position: relative; /* mandatory */
}